<!-- Embedded Java Script
 install npm i ejs -->

<h1> HELLO! </h1>
<% var n1="<b>BANSI</b>"%>
<% var a="20"%>
<p><%= n1 %></p> 
<p><%- n1%></p>
<p><%= a%></p>
<%# This is comment %>
<%% This is ejs %>
<h2>Welcome <%= name %></h2>
<!-- <b>BANSI</b>
BANSI -->